.sct-beneficios {
    margin: 3%;
}

section h2 {
    font-size: 4vh;
    color: rgb(223, 227, 230);
    border-bottom: 1px solid black;
    padding: 2%;
}

p {
    padding: 1%;
    color: white;
}

.puntos {
    padding: 1%;
    color: white;
}

.lineal {
    border: 1px solid rgb(255, 252, 252);
}