.sct-programas {
    padding: 2%;
    background-attachment: scroll;
    background-image: url("../fondo4.jpeg");
    background-size: auto;
    opacity: .8;
}

section h3 {
    font-size: 5vh;
    color: #941616;
    text-shadow: #0c0909;
    border-bottom: 1px solid black;
    padding: 2%;
    font-weight: bolder;
    text-shadow: 3px 3px 7px rgb(255, 255, 255), -3px -3px 7px rgb(255, 255, 255), -3px 3px 7px rgb(255, 255, 255), 3px -3px 7px rgb(255, 255, 255);
}

h4 {
    text-align: center;
    color: rgb(250, 248, 248);
    text-shadow: 2px 2px 5px rgb(7, 7, 7);
    font-weight: bold;
}

#programa-texto #pp {
    padding: 1%;
    color: rgb(250, 248, 248);
    text-shadow: 3px 3px 7px rgb(7, 7, 7), -3px -3px 7px rgb(7, 7, 7), -3px 3px 7px rgb(7, 7, 7), 3px -3px 7px rgb(7, 7, 7);
    font-weight: bold;
    background-color: #0c0909c2;
}

.triprogram {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    padding: 2%;
}

.miniprogram {
    margin: 3%;
    background-color: #941616;
    padding: 5%;
}

.miniprogram p {
    text-shadow: 1px 1px 4px rgb(7, 7, 7);
}

.miniprogram:hover {
    cursor: pointer;
}

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

.hvr-bob {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hvr-bob:hover,
.hvr-bob:focus,
.hvr-bob:active {
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}